################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ICanHazDadJokeMVC/config
/.vs/ICanHazDadJokeMVC/v16
/.vs/slnx.sqlite
/ICanHazDadJokeMVC/obj
/.vs/ICanHazDadJokeMVC/DesignTimeBuild
/.vs/VSWorkspaceState.json
