@{
    ViewData["Title"] = "About Page";
}
<h1>About</h1>

<p>This project was created as a part of a job interview Code Challenge</p>
<p>
    The task is to create an application that uses the "I can haz dad joke" API (<a href="https://icanhazdadjoke.com/api" target="_blank" rel="noopener noreferrer">https://icanhazdadjoke.com/api</a>) to display jokes.
</p>
<p>
    The front-end code should be as simple as possible. Use any front-end mechanism you wish but keep it simple (I decided using a web front-end). We're interested in how you would design and implement the back-end service.
</p>
<p>
    As such, all the communication with the icanhazdadjoke API and preparing the data for display should be implemented in a back-end service using C# and .NET.
</p>
<p>
    There should be two options the user can choose from:<br />
    1. Fetch a random joke.<br />
    2. Accept a search term and display the first 30 jokes containing that term. The matching term should be emphasized in some simple way (upper, quotes, angle brackets, etc.).  The matching jokes should be grouped by length: Short (&lt;10 words), Medium (&gt;10 & &lt;20 words), Long (&gt;=20 words)
</p>
<p>
    Repository can be accessed via Github <a href="https://github.com/rockytauhid/icanhazdadjokemvc" target="_blank" rel="noopener noreferrer">ICanHazDadJokeMVC</a>.
</p>
